.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #221a6e;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.alerts {
  position: fixed;
  z-index: 9;
  overflow: hidden;
  width: 100%;
}

.nightModeFont {
  color: white;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 8;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.search-distance {
  display: flex;
  margin-top: 20px;
  width: 90%;
  max-width: 200px;
  z-index: 10;
}

.search-distance input {
  padding: 0.5rem;
  font-size: 13pt;
  width: 100%;
}

.search-distance-popover {
  z-index: 20;
}

.distanceInfoDelBtn {
  margin-top: 10px;
}

.locate {
  position: absolute;
  top: 15px;
  left: 93%;
  background: none;
  border: none;
  z-index: 10;
  padding: 3px 5px 5px 5px;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

.reset {
  position: absolute;
  top: 12px;
  left: 90%;
  background: none;
  border: none;
  z-index: 10;
  padding: 3px 5px 5px 5px;
}

.invBtn {
  cursor: default;
  background-color: Transparent;
  border: none;
}

.deleteBtnInfo {
  bottom: 25px;
  left: 75%;
}

/* logout button */
.buttons {
  position: absolute;
  background: none;
  top: 15px;
  left: 83.5%;
  border: none;
  z-index: 10;
}

.buttons-landing {
  position: absolute;
  background: none;
  top: 15px;
  left: 80%;
  border: none;
  z-index: 10;
}

.distanceMatrix {
  position: absolute;
  background: none;
  top: 15px;
  left: 69%;
  border: none;
  z-index: 15;
}

.title {
  margin: 10px 0px 0px 0px;
  font-size: 15pt;
  font-weight: 400;
}

.feedbackBtn {
  display: flex;
  background: none;
  border: none;
  padding: 3px 5px 5px 5px;
}

.feedback {
  position: absolute;
  background: none;
  border: none;
  top: 15px;
  left: 65.5%;
  z-index: 15;
}

#saveBtn {
  left: 78%;
}

#signupBtn {
  left: 74%;
}
#nightMode {
  top: 15px;
  left: 95%;
  font-size: 16pt;
}

/*///////////////////////////////// Display Size Changes //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 1400px) {
  h1 {
    position: absolute;
    top: 1rem;
    left: 4%;
    color: #221a6e;
    z-index: 10;
    margin: 0;
    padding: 0;
  }

  .search {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
  }

  .locate {
    position: absolute;
    top: 22%;
    left: 92%;
    background: none;
    border: none;
    z-index: 10;
  }

  .reset {
    position: absolute;
    top: 28%;
    left: 92%;
    background: none;
    border: none;
    z-index: 10;
  }

  .buttons {
    position: absolute;
    background: none;
    top: 10%;
    border: none;
    z-index: 10;
  }

  #nightMode {
    top: 35%;
    left: 88%;
  }

  /*/////////////// Btns on homepage after login //////////////////////*/
  #logoutBtn {
    left: 88%;
  }

  #saveBtn {
    top: 3%;
    left: 90%;
  }

  .distanceMatrix {
    top: 150px;
    left: 35%;
  }

  .feedback {
    top: 147px;
    left: 63%;
  }

  /*//////////////// Btns on landing page /////////////////////////////*/
  .buttons-landing {
    position: absolute;
    background: none;
    border: none;
    z-index: 10;
  }

  #loginBtn {
    top: 4%;
    left: 91%;
  }

  #signupBtn {
    top: 10%;
    left: 90%;
  }
}

/*/////////////////////////////////////// SMALL TABLET / PHONE //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 660px) {
  h1 {
    position: absolute;
    top: 1rem;
    font-size: 21pt;
    left: 5%;
    color: #221a6e;
    z-index: 10;
    margin: 0;
    padding: 0;
  }

  .search {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    max-width: 400px;
    z-index: 10;
  }

  .locate {
    position: absolute;
    top: 45%;
    left: 85%;
    background: none;
    border: none;
    z-index: 10;
  }

  .reset {
    position: absolute;
    top: 50%;
    left: 85%;
    background: none;
    border: none;
    z-index: 10;
  }

  .buttons {
    position: absolute;
    background: none;
    border: none;
    z-index: 10;
  }

  #nightMode {
    top: 55%;
    left: 75%;
  }

  /*/////////////// Btns on homepage after login //////////////////////*/
  #logoutBtn {
    top: 32%;
    left: 75%;
  }

  #saveBtn {
    top: 25.5%;
    left: 80%;
  }

  .distanceMatrix {
    top: 165px;
    left: 15%;
  }

  .feedback {
    top: 163px;
    left: 39%;
  }

  /*//////////////// Btns on landing page /////////////////////////////*/
  .buttons-landing {
    position: absolute;
    background: none;
    border: none;
    z-index: 10;
  }

  #loginBtn {
    top: 25%;
    left: 77%;
  }

  #signupBtn {
    top: 32%;
    left: 75%;
  }
}

@media (max-width: 480px) {
  h1 {
    position: absolute;
    top: 1rem;
    font-size: 18pt;
    left: 18%;
    color: #221a6e;
    z-index: 10;
    margin: 0;
    padding: 0;
  }

  .search {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    max-width: 400px;
    z-index: 10;
  }

  .locate {
    position: absolute;
    top: 91%;
    left: 38%;
    background: none;
    border: none;
    z-index: 10;
  }

  .reset {
    position: absolute;
    top: 90.5%;
    left: 50%;
    background: none;
    border: none;
    z-index: 10;
  }

  .buttons {
    position: absolute;
    background: none;
    border: none;
    z-index: 10;
  }

  .deleteBtnInfo {
    bottom: 20px;
    left: 65%;
  }

  #infoDeleteBtn {
    right: 45px;
    bottom: 45px;
  }

  #nightMode {
    top: 91%;
    left: 60%;
  }

  /*/////////////// Btns on homepage after login //////////////////////*/
  #logoutBtn {
    top: 90%;
    left: 7%;
  }

  #saveBtn {
    top: 83%;
    left: 7%;
  }

  .distanceMatrix {
    top: 130px;
    left: 15%;
  }

  .feedback {
    top: 165px;
    left: 14%;
  }

  /*//////////////// Btns on landing page /////////////////////////////*/
  .buttons-landing {
    position: absolute;
    background: none;
    border: none;
    z-index: 10;
  }

  #loginBtn {
    top: 25%;
    left: 77%;
  }

  #signupBtn {
    top: 32%;
    left: 75%;
  }
}

@media (max-width: 360px) {
  h1 {
    position: absolute;
    top: 1rem;
    font-size: 14pt;
    left: 20%;
    color: #221a6e;
    z-index: 10;
    margin: 0;
    padding: 0;
  }

  .search {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    max-width: 400px;
    z-index: 5;
  }

  .locate {
    position: absolute;
    top: 90%;
    left: 20%;
    background: none;
    border: none;
    z-index: 10;
  }

  .reset {
    position: absolute;
    top: 89.5%;
    left: 35%;
    background: none;
    border: none;
    z-index: 10;
  }

  .buttons {
    position: absolute;
    background: none;
    border: none;
    z-index: 5;
  }

  .deleteBtnInfo {
    bottom: 38px;
    left: 75%;
  }

  #infoDeleteBtn {
    right: 30px;
    top: -50px;
  }

  #nightMode {
    top: 90%;
    left: 50%;
  }

  /*/////////////// Btns on homepage after login //////////////////////*/
  #logoutBtn {
    top: 75%;
    left: 70%;
  }

  #saveBtn {
    top: 68%;
    left: 76%;
  }

  .distanceMatrix {
    top: 115px;
    left: 12%;
    z-index: 5;
  }

  .feedback {
    top: 150px;
    left: 11%;
  }

  /*//////////////// Btns on landing page /////////////////////////////*/
  .buttons-landing {
    position: absolute;
    background: none;
    border: none;
    z-index: 10;
  }

  #loginBtn {
    top: 25%;
    left: 77%;
  }

  #signupBtn {
    top: 32%;
    left: 75%;
  }
}
